@font-face
  font-family: 'Lato'
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Lato'
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff"), url("../fonts/latoblack.ttf") format("truetype")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Lato'
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/latoheavyitalic.woff2") format("woff2"), url("../fonts/latoheavyitalic.woff") format("woff"), url("../fonts/latoheavyitalic.ttf") format("truetype")
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'Roboto Slab'
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('Robotoslabbold.woff2') format('woff2'), url('Robotoslabbold.woff') format('woff'), url('Robotoslabbold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
