@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-menu
      &__list
        min-width: 470px
  .main
    &-article
      &__text
        padding-bottom: 80px
  .panel
    &-article
      &__wrapper
        padding-top: 25px
        padding-bottom: 30px
      &__card
        padding: 0 20px
      &__link
        font-size: 12px
      &__img
        width: 60px
  .topic
    padding-bottom: 50px
  .articles
    display: flex
    flex-direction: column
    justify-content: space-between
    &__block
      &-1
        position: relative
        height: 100%
    &__wrapper
      &-text
        padding-right: 25px
        z-index: 3
    &__img
      position: absolute
      right: 0
      bottom: 0
      width: 100%
      z-index: 1
      opacity: 0.5
    &__link
      &-name, &-author-text
        line-height: 14px
  .popular
    padding: 19px 15px 25px 15px
    &-block
      flex-wrap: wrap
    &__date
      flex-basis: 100%
      margin-bottom: 4px
  .download
    &-1
      padding: 10px 15px 10px 15px
  .advice
    &__wrapper
      &-text
        border-left: 15px
        padding-right: 15px
  .article
    padding: 15px
    &__title
      font-size: 14px
      line-height: 20px
    &__text
      font-size: 13px
      line-height: 19px
  .tags
    &-1
      padding: 20px 15px
    &-2
      padding: 15px
      justify-content: space-between
    &-link
      padding: 3px 15px
      margin-right: 0
  .sotial
    padding-left: 15px
    padding-right: 15px
    &__link
      &-block
        &-tw
          margin: 0 8px
  .news
    padding: 50px 0
    &-block
      &__img
        margin-right: 15px
        width: 300px
      &__title
        margin-top: 5px
      &__p
        margin-bottom: 5px
  .full-article
    &__block
      &-text
        width: 65%
      &-author
        width: 200px
  .block
    &-author
      padding: 20px 0
  .article
    &-slider
      height: 400px
      &__button
        &-next, &-prev
          width: 50px
          height: 50px
        &-prev
          left: 12px
        &-next
          right: 12px
  .material
    width: 220px
    &-wrapper
      width: 100%
  .more
    &-article
      &__card
        width: 228px
  .container
    &-hero
      max-width: 830px
  .hero
    &__bookmark
      left: -40px
  .full
    &-article
      &__block
        &-text
          width: 73%
/*---------------------------ширина 992---------------------------------*/
@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-wrapper
      flex-wrap: wrap
  .navbar
    &-menu
      flex-basis: 100%
      order: 3
      padding-top: 10px
  .panel
    &-article
      &__wrapper
        padding-top: 20px
        padding-bottom: 20px
      &__card
        padding: 0 10px
  .topic-grid
    grid-template-rows: repeat(5, 170px)
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 20px
  .articles
    grid-row: 1 / 3
    grid-column: 1 / 3
  .popular
    grid-row: 1 / 3
    grid-column: 3 / 4
  .download
    grid-row: 3 / 4
    grid-column: 3 / 4
  .advice
    grid-row: 3 / 5
    grid-column: 1 / 2
  .article-1
    grid-row: 5 / 6
    grid-column: 1 / 2
  .article-2
    grid-row: 5 / 6
    grid-column: 2 / 3
  .article-3
    grid-row: 5 / 6
    grid-column: 3 / 4
  .article-4
    display: none
  .tags
    grid-row: 3 / 5
    grid-column: 2 / 3
  .sotial
    grid-row: 4 / 5
    grid-column: 3 / 4
  .investigation
    &-wrapper
      padding: 20px 0
  .news
    &-wrapper
      max-width: 450px
    &-block
      flex-direction: column
      &__img
        width: 100%
        height: 100%
        margin-bottom: 10px
        margin-right: 0
      &__text
        &-wrapper
          width: 100%
          min-height: 165px
      &__bookmark
        top: 269px
  .recently
    &-top
      padding: 20px 15px
    &-middle
      padding: 0 15px
    &__img
      display: none
  .hot
    &-grid
      grid-template-rows: 1fr minmax(170px, min-content)
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
    &-slider
      grid-row: 1 / 2
      grid-column: 1 / 3
  .career
    grid-row: 2 / 3
    grid-column: 1 / 3
  .article-5
    grid-row: 3 / 4
    grid-column: 1 / 2
  .article-6
    grid-row: 3 / 4
    grid-column: 2 / 3
  .contacts
    &__logo
      &-link
        margin-right: 10px
    &__link
      margin-right: 15px
      font-size: 13px
  .more-article
    &-wrapper
      flex-wrap: wrap
    &__card
      display: flex
      flex-direction: column
      min-height: 300px
      justify-content: space-between
      width: 48%
      margin-bottom: 15px
    &__img
      margin-bottom: 0
    &__title
      margin-bottom: 0
  .hero
    &__bookmark
      top: -35px
      left: 0
    &__wrapper
      &-text
        width: 90%
    &__title
      font-size: 40px
      line-height: 43px
      margin-bottom: 25px
  .full
    &-article
      &__block
        &-text
          width: 68%

  .comments
    &-wrapper
      margin-right: 0
  .add-comment
    &-wrapper
      margin-right: 0
        /*----------------------ширина 767-----------------------------------*/
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__background
      height: 815px
  .main-article
    &-wrapper
      flex-direction: column
    &__text
      width: 100%
      padding: 30px
  .author
    margin-bottom: 10px
  .title
    &-block
      &__title
        margin-bottom: 35px
  .recom
    &-title
      &-block
        padding: 10px 25px
    &__block
      min-height: 80px
      max-height: 102px
      padding: 10px 25px
  .panel
    &-article
      padding-top: 30px
      &__wrapper
        flex-wrap: wrap
        justify-content: center
        min-height: 190px
      &__card
        padding: 0 8px
        border: none
  .topic-grid
    grid-template-rows: repeat(2, 170px)
    grid-template-columns: 1fr 1fr
  .articles
    grid-row: 1 / 3
    grid-column: 1 / 3
  .popular
    grid-row: 3 / 5
    grid-column: 1 / 2
  .download
    grid-row: 5 / 6
    grid-column: 2 / 3
  .advice
    grid-row: 5 / 7
    grid-column: 1 / 2
  .article-1
    grid-row: 7 / 8
    grid-column: 1 / 2
  .article-2
    grid-row: 7 / 8
    grid-column: 2 / 3
  .article-3
    grid-row: 8 / 9
    grid-column: 1 / 2
  .article-4
    display: block
    grid-row: 8 / 9
    grid-column: 2 / 3
  .tags
    grid-row: 3 / 5
    grid-column: 2 / 3
  .sotial
    grid-row: 6 / 7
    grid-column: 2 / 3
  .investigation
    height: 320px
    &-wrapper
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
    &__title
      font-size: 36px
      line-height: 40px
  .container
    &-wrapper
      flex-direction: column
  .news
    &-wrapper
      max-width: 100%
      margin-right: 0
      margin-bottom: 30px
    &-block
      &__bookmark
        top: 3px
  .recently
    max-width: 100%
    &__card
      justify-content: start
    &__img
      display: block
    &-top
      padding: 20px 25px
    &-middle
      padding: 0 25px
  .hot
    &__block
      &-title
        margin-bottom: 74px
  .articles
    &__wrapper
      &-text
        max-width: 220px
        padding-right: 0
    &__img
      width: 292px
      opacity: 1
    &__block
      &-1
        padding-left: 15px
      &-2
        padding: 13px 15px
  .popular
    &__button
      margin-bottom: 10px
  .tags
    &-2
      justify-content: start
    &-link
      margin-right: 10px
      margin-bottom: 5px
  .download-1
    padding: 25px 15px 25px 15px
  .sotial
    padding-bottom: 30px
  .footer
    &__links
      flex-wrap: wrap
    &__list
      &-wrapper
        padding-top: 10px
        padding-bottom: 25px
        &:last-child
          width: 195px
  .contacts
    flex-wrap: wrap
    justify-content: center
  .navbar
    &-menu
      display: none
  .article
    &-slider
      height: 300px
      &__button
        &-next, &-prev
          width: 40px
          height: 40px
        &-prev
          left: 12px
        &-next
          right: 12px
  .container
    &-hero
      max-width: 420px
  .hero
    &__wrapper
      &-text
        width: 100%
    &__title
      margin-bottom: 20px
      font-size: 34px
      line-height: 37px
    &__text
      width: 58%
      margin-bottom: 10px
  .full-article
    &__block
      &-text
        width: 100%
      &-author
        top: -292px
        right: -48px
    &__text
      font-size: 14px
      line-height: 23px
      margin-bottom: 10px
    &__title
      margin-top: 15px
      margin-bottom: 10px
    &__wrapper
      flex-direction: column
    &__main
      &-p
        margin-top: 25px
        margin-bottom: 20px
      &-text
        font-size: 22px
        line-height: 26px
    &__tags
      padding-bottom: 20px
  .repost
    &__button
      font-size: 12px
      line-height: 15px
  .material
    position: relative
    top: 0
    right: 0
    width: 100%
    &__img
      height: 200px
  .slider
    padding: 15px 0
    &__author
      &-text
        padding-left: 5px
    &__wrapper
      &-author
        padding-left: 10px
  .more-article
    padding: 30px
    &__card
      min-height: 230px
  .comments
    padding: 0
    &__header
      flex-direction: column
      align-items: flex-start
      padding-top: 25px
    &__title
      margin-bottom: 10px
  .item
    &-comment
      &__wrapper
        padding-bottom: 20px
        &-answer
          padding-left: 65px
      &__ava
        width: 60px
        height: 60px
      &__text
        font-size: 14px
        line-height: 20px
  .add
    &-comment
      padding: 20px 0 0 0
      &-wrapper
        padding: 15px
      &__author
        &-img
          width: 60px
          height: 60px
/* -----------------------------ширина 576-----------------------------------------*/
@media (max-width: 567px)
  .title
    &-block
      &__title
        font-size: 24px
        line-height: 26px
  .topic
    &-grid
      grid-gap: 10px
  .articles
    &__img
      opacity: 0.5
  .tags
    &-link
      padding: 3px 10px
      margin-bottom: 5px
  .hot
    padding: 40px 0
    &-slider
      height: 320px
    &__block
      &-title
        margin-bottom: 0
    &__title
      margin-top: 5px
      margin-bottom: 10px
      font-size: 24px
      line-height: 26px
  .swiper-pagination
    margin-bottom: 10px
  .career
    min-height: 320px
    padding: 25px
  .footer
    padding: 40px 0
    &__links
      padding-bottom: 20px
  .subscribe
    padding-bottom: 45px
    &__input
      max-width: 270px
  .contacts
    flex-direction: column
    align-items: flex-start
    &__link
      font-size: 11px
  .copyright
    padding-top: 20px
    flex-direction: column
    &__text
      margin-bottom: 10px
  .article
    &-slider
      height: 240px
  .slider
    &__text
      font-size: 12px
      line-height: 15px
  .full-article
    &__block
      &-author
        width: 150px
        top: -219px
        right: -10px
    &__bottom
      padding: 10px 0
  .block
    &-author
      padding: 10px 0
      &__img
        width: 60px
        height: 60px
        margin-bottom: 10px
      &__name
        font-size: 14px
        margin-bottom: 3px
        line-height: 25px
      &__pro
        font-size: 14px
        line-height: 20px
        margin-bottom: 5px
      &__number
        font-size: 12px
        line-height: 15px
      /* ширина ----------------------480-320-----------------------------------*/
@media (min-width: 320px) and (max-width: 480px)
  .container
    width: 90%
    &-hero
      width: 90%
  .header
    &__button
      margin-top: 10px
      min-width: 100%
  .main
    &-article
      top: 120px
  .panel
    &-article
      &__wrapper
        flex-direction: column
        flex-wrap: nowrap
        justify-content: space-between
        padding: 20px
      &__card
        margin-bottom: 15px
        border-bottom: 1px solid #4B5157
        padding: 10px 0
        &:last-child
          margin-bottom: 0
          border: none
  .investigation
    &__title
      font-size: 24px
      line-height: 26px
    &-wrapper
      padding: 20px 15px
  .career
    &__block
      &-text
        width: 100%
  .hot
    &-block
      &__title
        padding: 10px
        position: relative
    &__label
      position: absolute
      top: 10px
      left: 10px
    &-grid
      grid-template-rows: 1fr repeat(3, minmax(170px, min-content))
      grid-template-columns: 1fr
      grid-gap: 10px
    &-slider
      grid-row: 1 / 2
      grid-column: 1 / 2
  .career
    grid-row: 2 / 3
    grid-column: 1 / 2
  .article-5
    grid-row: 3 / 4
    grid-column: 1 / 2
  .article-6
    grid-row: 4 / 5
    grid-column: 1 / 2
  .article
    padding: 25px
    &__title
      font-size: 16px
      line-height: 25px
    &__text
      font-size: 14px
      line-height: 20px
  .subscribe
    &__title
      font-size: 26px
      line-height: 28px
    &__form
      flex-direction: column
      align-items: center
    &__wrapper
      margin-bottom: 10px
  .contacts
    justify-content: start
    &__wrapper
      &-lincs
        flex-direction: column
        align-items: flex-start
        margin-bottom: 10px
    &__link
      font-size: 14px
      line-height: 20px
      margin: 10px 0
  .modal
    &__button
      margin-bottom: 10px
      &-block
        flex-direction: column
  .topic
    &-grid
      grid-template-rows: repeat(10, minmax(170px, min-content))
      grid-template-columns: 1fr
  .articles
    grid-row: 1 / 2
    grid-column: 1 / 2
  .popular
    grid-row: 2 / 3
    grid-column: 1 / 2
  .download
    grid-row: 3 / 4
    grid-column: 1 / 2
  .advice
    grid-row: 4 / 5
    grid-column: 1 / 2
  .article-1
    grid-row: 5 / 6
    grid-column: 1 / 2
  .article-2
    grid-row: 6 / 7
    grid-column: 1 / 2
  .tags
    grid-row: 7 / 8
    grid-column: 1 / 2
  .article-3
    grid-row: 8 / 9
    grid-column: 1 / 2
  .article-4
    grid-row: 9 / 10
    grid-column: 1 / 2
  .sotial
    grid-row: 10 / 11
    grid-column: 1 / 2
  .articles
    &__block
      &-2
        flex-direction: column
        align-items: flex-start
        &-wrapper
          flex-wrap: wrap
          margin-bottom: 5px
  .hero
    min-height: 450px
    padding: 30px 0
    &-title
      flex-direction: column
      align-items: flex-start
    &__topic
      order: 2
      margin-top: 10px
    &__title
      margin-bottom: 10px
      font-size: 24px
      line-height: 28px
    &__text
      width: 100%
      font-size: 16px
      line-height: 18px
    &__navigation
      min-width: 100%
  .full-article
    padding-top: 160px
    &__main
      &-p
        padding-right: 0
      &-text
        font-size: 18px
        line-height: 24px
    &__title
      font-size: 24px
  .article
    &-slider
      height: 160px
      &__button
        &-next, &-prev
          width: 35px
          height: 35px
        &-prev
          left: 12px
        &-next
          right: 12px
  .slider
    &__author
      flex-direction: column
      &-text
        border-bottom: 1px solid #D9DADB
    &__text
      font-size: 14px
      line-height: 20px
    &__wrapper
      &-author
        width: 100%
        border: none
        padding: 5px 10px 5px 10px
  .repost
    text-align: center
    &__wrapper
      &-link
        flex-direction: column
        align-items: center
    &__button
      margin-bottom: 10px
  .more-article
    padding: 30px 0 30px 0
    &-wrapper
      flex-direction: column
    &__card
      width: 100%
  .comments
    &__title
      font-size: 28px
      line-height: 32px
      &-num
        font-size: 28px
        line-height: 32px
    &__link
      &-add
        width: 100%
        justify-content: center
    &__button
      &-img
        margin-left: 0
  .item
    &-comment
      &__ava
        width: 45px
        height: 45px
        margin-right: 10px
      &__author
        &-wrapper
          flex-direction: column
        &-name
          margin: 0
      &__text
        font-size: 13px
        line-height: 16px
      &__wrapper
        &-answer
          padding-left: 33px
  .add-comment
    &-wrapper
      flex-direction: column
    &__author
      &-img
        margin: 0
    &__title
      margin-top: 10px
