
.comments
  padding: 30px 0
  background-color: $light
  &-wrapper
    max-width: 750px
    margin-right: 196px
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 60px
    padding-bottom: 30px
    border-bottom: 1px solid #D9DADB
  &__title
    margin: 0
    margin-right: 10px
    font-family: "Roboto Slab", sans
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 50px
    color: #262D33
    &-num
      font-style: normal
      font-weight: normal
      font-size: 40px
      line-height: 50px
      color: #939699
  &__button
    &-add
      display: flex
      align-items: center
      padding: 10px 20px
      border: 1px solid #D9DADB
      border-radius: 20px
      background: none
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: #262D33
      cursor: pointer
  &__pen-img
    margin-right: 10px
