
.header
  background-color: $background-dark
  padding: 15px 0
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__menu
    min-width: 540px
    display: flex
    justify-content: space-between
    &-link
      text-decoration: none
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: $light
  &__button
    min-width: 261px
    padding: 10px 0
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    border: none
    border-radius: 10px
    cursor: pointer
    text-transform: uppercase
    background-color: #656B70
    color: $light
  &__background
    height: 475px
