.modal
  &__overlay
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 143, 223, 0.39)
    z-index: 103
    visibility: hidden
    opacity: 0
    transition: opacity 0,5s
    overflow-y: auto
    display: flex
    justify-content: flex-start
    align-items: center
    padding-top: 10px
    padding-bottom: 10px
    &--visible
      visibility: visible
      opacity: 1
  &__dialog
    margin: auto
    min-width: 360px
    min-height: 530px
    padding: 30px 35px 40px 35px
    background-color: $light
    color: #262D33
    border-radius: 10px
    z-index: 102
    visibility: hidden
    opacity: 0
    transition: opacity 0.3s
    position: relative
    &--visible
      visibility: visible
      opacity: 1
  &__close
    position: absolute
    top: 15px
    right: 15px
  &__title
    margin-top: 0
    margin-bottom: 25px
    font-family: "Roboto Slab", sans
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 25px
  &__wrapper
    &-select, &-message, &-email
      display: flex
      flex-direction: column
      margin-bottom: 15px
    &-checkbox
      margin-bottom: 10px
  &__label
    &-select, &-message, &-email
      display: block
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: #262D33
      margin-bottom: 5px
  &__form
    &-select
      border: 1px solid #D9DADB
      border-radius: 5px
      padding: 10px 0 10px 11px
      font-size: 14px
      font-weight: 400
      line-height: 20px
      color: #939699
      appearance: none
      background: #fff url('../img/input-arrow.svg')
      background-position: calc(100% - 15px)
      background-size: 10px 10px
      background-repeat: no-repeat
    &-message
      border: 1px solid #D9DADB
      border-radius: 5px
      max-width: 290px
      height: 120px
      resize: none
      outline: none
    &-email
      height: 40px
      border: 1px solid #D9DADB
      border-radius: 5px
      outline: none
    &-text
      position: absolute
      top: 0
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: #4B5157
    &-checkbox
      position: absolute
      top: 4px
      left: 3px
      transform: scale(1.7)
      opacity: 0.9
      cursor: pointer
      margin: 0 10px 0 0
  &__button
    padding: 10px 25px
    background: #4592FF
    border: none
    border-radius: 20px
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: $light
    cursor: pointer
    &-block
      display: flex
      justify-content: space-between
      align-items: center
  &__arrow
    margin-left: 10px

.invalid
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 20px
  color: #FF4F52
.checkbox
  position: relative
  height: 38px
  display: flex
  align-items: baseline
  align-content: start
  flex-direction: column-reverse
  padding-left: 30px
